<div class="review py-6 first:pt-0 last:pb-0" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <h3 class="font-medium text-gray-900">
    <% if review.show_identifier %>
      <% if SpreeReviews::Config[:show_email] && review.user %>
        <%= review.user.email %>
      <% else %>
        <%= review.name %>
      <% end %>
    <% else %>
      <%= Spree.t(:anonymous) %>
    <% end %>
  </h3>

  <% if review.title.present? %>
    <span itemprop="name" class="uppercase"><%= review.title %></span>
  <% end %>

  <p>
    <time datetime="<%= review.created_at.to_date %>"><%= l review.created_at.to_date, :format => :long %></time>
  </p>
  <div class="reviews-rating mb-6" title="<%= txt_stars(review.rating) %>">
    <div class="flex">
      <div class="flex-none">
        <%= render 'spree/reviews/stars', stars: review.rating %>
      </div>
      <div class="flex-initial ml-4">
        <% if review.verified_purchase %>
          <%= Spree.t(:verified_purchase) %>
        <% end %>
      </div>
    </div>
  </div>

  <div itemprop="reviewBody" class="mt-4 mt-4 space-y-6 text-base italic text-gray-600">
    <%= simple_format(review.review) %>
  </div>

  <% if review.images.attached? %>
    <div class="mx-auto max-w-7xl mt-6">
      <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <% review.images.each do |image| %>
          <li class="relative">
            <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <a href="<%= image.url %>" target="_blank">
                <%= image_tag image.variant(:thumb).processed.url, class: "pointer-events-none object-cover group-hover:opacity-75", style: "width: inherit" %>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if SpreeReviews::Config[:feedback_rating] && (!SpreeReviews::Config[:require_login] || spree_current_user) %>
    <div class="feedback_review my-3" id="feedback_review_<%= review.id %>">
      <%= render 'spree/feedback_reviews/form', review: review %>
    </div>
  <% end %>
</div>
